services:
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    image: backend
    ports:
      - "8000:8000"
    env_file:
      - Backend/.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/v1/health"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - ./Backend:/app
    networks:
      - w-cev

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: frontend
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - w-cev

networks:
  w-cev:
    driver: bridge

volumes:
  node_modules: